
  @import url('https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,600&family=Edu+SA+Beginner:wght@500&family=Poppins:wght@100&family=Qwitcher+Grypen:wght@700&family=Raleway:ital,wght@1,100&family=Ubuntu:ital,wght@0,300;1,300;1,400;1,700&display=swap');

.calculator {

    padding: 10px;
    border-radius: 1em;
    width: 400px;
    height: 400px;
    margin: auto;
    
    background-color:blue;
    }
body{
    background-image:url("pinkbg.jpg");
    
    }
    .calci h1{
        text-align: center;
        margin-top:140px;
    }
    
.display {
    font-family: 'Borel', cursive;
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
    background-color: #dcdbe1;
    border: solid black 1px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#btn {
    background-color:pink;
}

input[type=button] {
   font-family: 'Borel', cursive;
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
    background-color:lavender;
    color: black;
    border: solid black 1px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

